@font-face {
 font-family: "Avenir";
 src: url("/assets/fonts/avenir.otf") format("otf");
}
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i,700,800&display=swap');
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    font-family: Avenir, sans-serif;
    background-color: #000;
    cursor: url(assets/images/cursor.svg) 2 2, auto;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 110%;
    background-color: transparent;
    background-image: url(assets/images/home_background.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    z-index: 5;
}
.bg {
  background-color: black;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  /* filter: blur(20px); */
}

header a {
    color: #fff;
    text-decoration: none;
    transition: border .2s;
    cursor: url(assets/images/pointer.svg) 12 12, pointer
}

header .header-head {
    height: 10%;
    padding-top: 70px;
    padding-left: 50px;
    box-sizing: border-box
}

header .header-head a:hover {
    border-bottom: 2px solid #fff
}

header .header-content {
    height: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    justify-content: center;
}
.header-wrapper {
  height: 100%;
}
header .header-content h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 7px
}

header .header-content h1 {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 120px;
    margin: 0;
    animation: animName 1s forwards


}

header .header-content h4 {
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 0;
    vertical-align: middle;
    opacity: 0;
      transform: translateY(-50px);
    animation: animSub 2s forwards;
}

header .header-content h4::before {
    content: '—';
    margin-right: 10px
}

header .header-footer {
    height: 10%;
    padding-left: 70px;
    box-sizing: border-box;
}

header .header-footer .call-to-scroll {
    display: flex;
    align-items: center
}

header .header-footer .call-to-scroll .mouse_roll {
    animation: mouseScroll 3s infinite
}

header .header-footer .call-to-scroll a {
    font-style: italic;
    margin-left: 25px;
    font-weight: lighter;
    cursor: url(assets/images/pointer.svg) 0 0, pointer
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 80px 200px 80px;
    box-sizing: border-box;
    height: 100%;
    background-color: #000;
}

main .project-vue {
  height: 80%;
    width: 80%;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
#project {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
  opacity: 1
}
.nextSlideActive {
  animation: animSlideNext 1.5s  forwards
}
.upArrow {
  position: absolute;
  top: 0;
  display: none;
}
.downArrow {
  position: absolute;
  bottom: -20%;
  display: none;
}
.leftArrow {
  margin-left: -50px;
}
.rightArrow {
  margin-right: -50px;
}
.leftArrow,.rightArrow
 {
   transition: transform 0.7s ease;
 }
.rightArrow:hover,.leftArrow:hover {
  transform: scale(0.9)
}
main .project-vue .project-snap {
    width: 380px;
    max-height: 70vh;
    object-fit: cover;
    position: relative;
    right: -10vw;
}
main .project-vue .project-info {
  position: absolute;
  left: 10vw;
}

main .project-vue .project-info h3 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 4px;
    margin: 0;
    margin-bottom: 15px
}

main .project-vue .project-info h3::before {
    content: '—';
    margin-right: 10px
}

main .project-vue .project-info h2 {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    display: inline-block;
    background-color: #4ce59a;
    padding: 20px;
    font-size: 50px;
    margin: 0
}

main .project-vue .project-info h4 {
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 3px
}

main .project-vue .project-info a {
    color: #fff;
    text-decoration: none;
    font-style: italic;
    border: 1px solid #fff;
    padding: 15px 20px;
    font-weight: lighter;
    position: absolute;
    transition: background-color .5s;
    cursor: url(assets/images/pointer.svg) 0 0, pointer;
    transition: transform 0.5s ease;
}

main .project-vue .project-info a:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
}

main::before {
  position: absolute;
      width: 100%;
      height: 10%;
      content:'';
      background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
      top: -10%;
      z-index: 10;
}

main .notice {
    color: #fff;
    font-weight: lighter;
    position: absolute;
    top: 10%;
    font-style:italic
}

@keyframes mouseScroll {
    from {
        transform: translateY(0);
        opacity: 1
    }
    to {
        opacity: 0;
        transform: translateY(12px)
    }
}
@keyframes animName {
    0% {
        transform: translateX(-50%);
    }
    60% {
        transform: translateX(5%)
    }
    100% {
        transform: translateX(0)
    }
}
@keyframes animSub {
    50% {
      opacity: 0;
        transform: translateY(-50px);
    }
    70% {
      opacity: 1;
        transform: translateY(20px);
    }
    85% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: -webkit-flex !important;
    display: -ms-flex !important;
    display: flex !important;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes animSlideNext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#root {
  height: 100%;
}
.show {
  animation: fadeIn 1s forwards;
}
.hide {
  animation: fadeOut 1s forwards;
}
footer {
  position: relative;
  z-index: 20;
  height: 15%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  color: white;
  font-size: 13px;
  background-color: #000;
}
footer a {
  color: white;
  text-decoration: none;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  padding: 60px;
  box-sizing:border-box;
  overflow-y: scroll;
}
.modal img {
  width: 450px;
  margin:20px;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.modalClose {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}
.modal h2{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  display: inline-block;
  background-color: #4ce59a;
  padding: 15px;
  font-size: 35px;
  margin: 0
}
.modal .sub {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 3px
}
.modalHead {
  margin-bottom: 100px;
  text-align: right;
}
.modalFooter {
  margin-top: 50px;
  text-align: center;
}
.modalText {
  margin-bottom: 50px;
}
.gallery {
  margin-top: 50px;
}
.modalContent a {
  color: #000;
  text-decoration: none;
  font-style: italic;
  border: 1px solid #fff;
  padding: 15px 20px;
  font-weight: lighter;
  background-color: white;
  transition: background-color .5s;
  transition: transform 0.5s ease;
}
@media only screen and (max-width:1000px) {
  main .project-vue .project-info {
  left: 0;
  right: 0;
  }
  .leftArrow, .rightArrow {
    display: none;
  }
  .downArrow, .upArrow {
    display: block;
  }
  main .project-vue {
    margin-left: 0;
  }
  main .project-vue .project-info h2 {
    font-size: 40px;
    padding: 15px 15px 15px 10px;
    max-width: 80%;
    text-align: center;
  }
  main .project-vue .project-info {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80%;

  }
  main .project-vue .project-info h3 {
    text-align: center;
  }
  main .project-vue .project-info h3::before {
    display: none;
  }
main .project-vue .project-info a {
  bottom: -30%;
}
main .project-vue > div {
  display: flex;
  justify-content: center;
}
  main .project-vue .project-snap {
    visibility: hidden;
    margin: 0;
  }
  main .project-vue .project-info h4  {
    text-align: center
  }
}

@media only screen and (max-width:680px) {
  header .header-footer .call-to-scroll a {
    margin-left: 0;
  }

  header {
    background-image: none;
  }
  .bg {
    background-image: url(assets/images/home_for_blur.jpg);
    background-size: cover;
    filter: blur(20px);
  }
  header .header-head {
    text-align: center;
    padding-left: 0;
  }
  header .header-head a  {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    padding: 10px 15px;
    border:1px solid rgba(255,255,255,0.7);
  }
  header .header-content h4::before {
    display: block;
    margin-bottom: 10px;

  }
  header .header-content h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 30px;
  }
  header .header-head a:hover  {
    border-bottom: 1px solid rgba(255,255,255,0.7);
  }
  header .header-content{
    text-align: center;
    padding-left: 0;
    padding: 0 40px;
  }
  header svg {
    display: none;
  }
  .call-to-scroll {
    justify-content: center;
  }
  div.header-footer {
    padding-left: 0px;
  }
  .call-to-scroll a::before {
    content:'swipez pour ';
  }
  h1 {
    font-size: 80px !important;
  }
  main {
    padding: 100px 0 200px 0;
  }
  main .project-vue .project-info h2 {
    padding: 10px;
    font-size: 30px;
  }
  .modal h2 {
    text-align: center;
    font-size: 25px;
  }
  .modal p {
    text-align: justify;
  }
  .modal img {
    width: 100%;
  }
}
